li:hover {
    background-color:lightskyblue;
    font-size: 30px;
    cursor: pointer;
}

li:active {
    background-color:crimson;
    font-style: italic;
}

li::before {
    content: "☑️"
}

li:hover::after {
    content: " Vote For Me!";
    margin-left: 12px;
    font-weight: bold;
    color:lime;
}

li:active::before {
    content: "🎭";
}

ul {
    list-style: none;
}
